.header {
    height: 138px;
    background-color: #544466;
    box-shadow: 0px 20px 30px rgba(3, 3, 3, 0.25);
    &__logo {
        display: flex;
        flex-direction: column;
        width: 150px;
        margin-left: 33px;
    }
}